.lebenslauf {
  h1 {
    padding: 0.5em 1em;
    -ms-transform: rotate(-90deg);
    transform: rotate(90deg);
    -ms-transform-origin: 100% 0;
    transform-origin: top left;
    position: absolute;
    background: $mk-color-darkviolett;
    color: $mk-color-beige;
    line-height: 40px;
    //left: 88px;
    top: 0;
    width: 100vh;
    font-family: Jaldi-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }

}