#stage {
  display: flex;
  flex-direction: column;
  padding: 42px;
  position: relative;

  p {
    margin: 0;
    color: var(--green);
    font-size: 24px;
    width: 250px;
  }

  nav {
    font-size: 18px;
  }

  header {
    margin: 15% 0 8% 25%;
  }

  section {
    background: white;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
  }

  a {
    padding: 0.8em;
    border: 3px solid var(--orange);
    border-radius: 18px;
    width: 180px;
    display: block;
    text-align: center;
  }

  a:link, a:visited {
    color: var(--orange);
    text-decoration: none;
  }

  a:hover {
    background: var(--orange);
    color: white;
    border-color: var(--dark-purple);
  }

  a:link.coaching, a:visited.coaching {
    background: var(--orange);
    color: white;
  }

  img {
    width: 281px;
    height: 248px;
  }
}

h1 {
  font-size: 76px;
  color: var(--dark-purple);
  margin:0;
}

#photo {
  position: absolute;
  right: 0;
  bottom: 0;
}
