@import "responsive";

@import "variables";

#stage {
  grid-area: stage;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 156px;
  grid-template-rows: 1fr 1fr 151px 66px;
  overflow: hidden;
  margin-top: 24px;

  @include xl {
    grid-template-columns: 6fr 1fr 153px;
    grid-template-rows: 1fr 2fr 2fr 10px;
    grid-gap: 26px;

    header {
      margin: 15% 0 8% 25%;
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      padding: 0;
    }
  }

  > section {
    grid-column: 1/span 5;
    grid-row: 1/span 3;
    background: white;

    padding: 0 12px;

    @include xl {
      grid-column: 1 / span 2;
      grid-row: 1 / span 3;
      padding: initial;
    }

    a {
      padding: 0.8em;
      border: 3px solid var(--orange);
      border-radius: 18px;
      width: 122px;
      display: block;
      text-align: center;

      @include xl {
        width: 180px;
      }

    }

    a:link, a:visited {
      color: var(--orange);
      text-decoration: none;
    }

    a:hover {
      background: var(--orange);
      color: white;
      border-color: var(--dark-purple);
    }

    a:link.coaching, a:visited.coaching {
      background: var(--orange);
      color: white;
    }
  }

  #photo {
    grid-column: 4;
    grid-row: 3/span 2;

    @include xl {
      grid-column: 2 / span 2;
      grid-row: 3 / span 2
    }
  }

  p {
    font-size: 18px;
    margin: 0;
    color: var(--green);
    width: 250px;

    @include xl {
      font-size: 24px;
    }
  }

  nav {
    font-size: 18px;

    span {
      display: none;

      @include xl {
        display: inline;
      }

    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    @include xl {
      justify-content: space-evenly;
      padding: 0;
      flex-direction: row;
    }

  }

  li {
    margin-bottom: 20px;

    @include xl {
      margin: 0;
    }
  }

  img {
    display: block;
    width: 171px;
    height: 151px;

    @include xl {
      width: 281px;
      height: 248px;
    }
  }
}

h1 {
  font-size: 46px;
  color: var(--dark-purple);
  margin:0;

  @include xl {
    font-size: 76px;
  }
}

#contact-info {
  grid-column: 1 / colspan 5;
  grid-row: 4;

  color: white;
  background: var(--dark-purple);

  display: flex;
  align-items: center;
  position: relative;
  padding: 0 12px;

  .name, .address {
    display: none;
  }

  @include xl {
    grid-column: 3;
    grid-row: 2;
    color: var(--dark-purple);
    background: transparent;
    display: initial;

    .name, .address {
      display: block;
    }
  }

  .name {
    font-weight: bold;
    font-size: 22px;
  }

  .title {
    span {
      display: block;
    }
    display: block;
    margin: 0;
    @include xl {
      margin: 1em 0;
    }
  }

  .freelance {
    position: absolute;
    top: -33px;
    left: 12px;
    color: $purple;

    @include xl {
      position: initial;
      top: initial;
      left: initial;
    }


    font-weight: bold;
    margin: .7em 0 .4em 0;
  }

  .tel {
    display: block;
    width: 100%;
    text-align: right;

    a:link {
      color: white;
      font-weight: bold;
      font-size: 18px;
    }

    @include xl {
      width: initial;
      text-align: initial;
      margin-top: 1em;

      a:link {
        color: inherit;
        font-weight: initial;
        font-size: 1rem;
      }
    }
  }
}
