@import "variables";
.Competences__bigpicture text {
  fill: var(--dark-purple);
  opacity: 1;
  stroke: none;
  line-height: normal;
  font-family: Jaldi;
  text-anchor: start;
  opacity: 1;
  stroke: none;
}

.Competences__bigpicture text.l {
  font-size: 45.21932983px;
}

.Competences__bigpicture text.m {
  font-size: 33.91449738px;
}

.Competences__bigpicture text.s {
  font-size: 22.60966492px;
}

.Competences__bigpicture text.xs {
  font-size: 11.30483246px;
}

a:link {
  text {
    fill: var(--orange);
  }
}

a:hover {
  text {
    transform: perspective(400px);
  }
}
