:root {
  --dark-purple: #410B66;
  --orange: #BF4A1F;
  --beige: #fffaf5;
  --light-green: rgb(101, 143, 157);
  --green: #0A4460;
  --font: 'Jaldi', Helvetica, Verdana, sans-serif;
  --text-color: black;
}

body {
  background: var(--beige);
}
