@use 'fonts';

@import "responsive";

:root {
  --dark-purple: #410B66;
  --orange: #BF4A1F;
  --beige: #fffaf5;
  --light-green: rgb(101, 143, 157);
  --green: #0A4460;
  --font: 'Jaldi', Helvetica, Verdana, sans-serif;
  --text-color: black;
  --light-purple: #8D4CB9;
}

hr {
  display: none;
}

a:link, a:visited {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: red;
}

body {

  font-family: Jaldi, sans-serif;
  color: var(--dark-purple);

  background: var(--beige);
  margin: 0;
  display: grid;
  grid-template-columns: 12px auto 12px;

  grid-template-areas:
  "headerleft header headerright"
  "stage stage stage"
  "quote quote quote"
  ". methods ."
  "quote2 quote2 quote2"
  "footerleft footer footerright";

  @media screen and (min-width: 1200px) {
    grid-template-columns: 40px 50px auto 50px 40px;

    grid-template-areas:
    ". header header header headergutter"
    ". stage stage stage ."
    "quote quote quote quote quote"
    ". methods methods methods ."
    "quote2 quote2 quote2 quote2 quote2"
    "footerleft footer footer footer footer";
  }
}

body::before {
  content: "";
  background-color: var(--dark-purple);
  grid-column: 1;
  grid-row: 1;
}

body::after {
  content: "";
  grid-area: footerleft;
}

body q:first-of-type {
  background: var(--dark-purple);
  grid-area: quote;
}

body q:last-of-type {
  background: var(--light-purple);
  grid-area: quote2;
}

q {
  color: white;
  display: block;
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
}

body > header {

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: var(--orange);
  }

  color: white;

  grid-area: header;

  font-size: 18px;

  @include xl {
    display: grid;

    grid-template-columns: 40px auto 400px 40px;

    grid-template-areas:
    ". logo claim  .";
    font-size: 26px;
  }

  background: var(--dark-purple);

  img {
    grid-area: logo;
  }

  p {
    grid-area: claim;
  }
}

#methods {
  grid-area: methods;
}

body > footer {
  grid-area: footer;
}

#mknet__logo {
  fill: white;
}

.fill-white { fill: white; }

#methods {
  h2 {
    font-weight: normal;
    font-size: 40px;
    margin: 2em 0 1em 0;
    text-align: center;
  }

  section {
    background: white;
    margin-bottom: 20px;
    display: flex;

    header {
      padding: 1em;
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 1;

      h3 {
        font-size: 34px;
        font-weight: normal;
        margin: .2em 0;
        margin-block-start: .2em;
        margin-block-end: .2em;
      }

      p {
        padding: 0;
        margin: 0;
        color: var(--green);
        font-weight: bold;
      }
    }

    footer {
      display: block;
      text-align: right;
      padding: 1em;
      align-self: flex-end;
    }
  }
}

#footer::after {
  content:"";
  background: green;
}

@import "stage";
