@use 'fonts';

:root {
  --dark-purple: #410B66;
  --orange: #BF4A1F;
  --beige: #fffaf5;
  --light-green: rgb(101, 143, 157);
  --green: #0A4460;
  --font: 'Jaldi', Helvetica, Verdana, sans-serif;
  --text-color: black;
}

hr {
  display: none;
}

a:link, a:visited {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {

  font-family: Jaldi, sans-serif;

  background: var(--beige);
  margin: 0;
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;

  grid-template-areas:
  ". header header header headergutter"
  ". stage stage stage ."
  "first-quote first-quote first-quote first-quote first-quote"
  ". methods methods methods ."
  "quote quote quote quote quote"
  "footerleft footer footer footer footer";
}

body::before {
  content: "";
  background-color: var(--dark-purple);
  grid-column: 1;
  grid-row: 1;
}

body::after {
  content: "";
  grid-area: footerleft;
}

body q:first-of-type {
  background: var(--dark-purple);
  color: white;
  display: block;
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
  grid-area: first-quote;
}

q {
  grid-area: quote;
}

body > header {

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: var(--orange);
  }

  color: white;

  font-size: 26px;

  grid-area: header;

  display: grid;

  grid-template-columns: 40px auto 400px 40px;

  grid-template-areas:
  ". logo claim  .";

  top: 0;
  left: 0;
  width: 100%;
  background: var(--dark-purple);

  img {
    grid-area: logo;
  }

  p {
    grid-area: claim;
  }
}

#methods {
  grid-area: methods;
}

body > footer {
  grid-area: footer;
}

#mknet__logo {
  fill: white;
}

.fill-white { fill: white; }

#bla {
  background: var(--dark-purple);
  grid-area: headergutter;
}

#footer::after {
  content:"";
  background: green;
}

@import "stage";
